<div id="<%= dom_id bounty %>" class="mb-8 bg-white border shadow rounded-md pt-8 px-8">
  <div class="flex justify-between gap-8">
    <h2 class="m-0"><%= link_to bounty.title, bounty_path(bounty), class: "no-underline font-bold tracking-tight" %></h2>

    <div class="mb-4 text-2xl font-bold text-green-600">
      <%= number_to_currency bounty.amount, precision: 0 %>
    </div>
  </div>

  <%= simple_format truncate(bounty.description.to_plain_text, length: 1000) %>

  <div class="bg-gray-50 -mx-8 px-8 py-4">
    <div class="flex items-center justify-between gap-8">
      <%= status_badge bounty.status %>

      <div class="flex items-center gap-4">
        <div class="text-sm">Created by <%= bounty.user.name %></div>
        <%= link_to bounty.url, class: "no-underline inline-flex gap-2 items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500", target: :_blank do %>
          View Project
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline w-5 h-5">
            <path fill-rule="evenodd" d="M4.25 5.5a.75.75 0 00-.75.75v8.5c0 .414.336.75.75.75h8.5a.75.75 0 00.75-.75v-4a.75.75 0 011.5 0v4A2.25 2.25 0 0112.75 17h-8.5A2.25 2.25 0 012 14.75v-8.5A2.25 2.25 0 014.25 4h5a.75.75 0 010 1.5h-5z" clip-rule="evenodd" />
            <path fill-rule="evenodd" d="M6.194 12.753a.75.75 0 001.06.053L16.5 4.44v2.81a.75.75 0 001.5 0v-4.5a.75.75 0 00-.75-.75h-4.5a.75.75 0 000 1.5h2.553l-9.056 8.194a.75.75 0 00-.053 1.06z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</div>
