<div class="flex min-h-full flex-col justify-center sm:px-6 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">Log in to your account</h2>
    <p class="mt-2 text-center text-sm text-gray-600">
      or
      <%= link_to "sign up for an account", new_registration_path(resource_name), class: "font-semibold leading-6 text-indigo-600 hover:text-indigo-500" %>
    </p>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 shadow sm:rounded-lg sm:px-12">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="space-y-6">
          <div>
            <%= f.label :email, "Email address", class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div>
            <%= f.label :password, class: "block text-sm font-medium leading-6 text-gray-900" %>
            <div class="mt-2">
              <%= f.password_field :password, autocomplete: "current-password", class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <% if devise_mapping.rememberable? %>
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
                <%= f.label :remember_me, class: "ml-3 block text-sm leading-6 text-gray-900" %>
              </div>
            <% end %>

            <div class="text-sm leading-6">
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-semibold text-indigo-600 hover:text-indigo-500" %>
            </div>
          </div>

          <div>
            <%= f.submit "Log in", class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
