<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>
      <%= content_for?(:title) ? "#{yield(:title)} | Beginner Bounties" : "Beginner Bounties" %>
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta property="og:title" content="Beginner Bounties" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Help Junior developers get hired by sharing small projects they can work on to build their resume with paid work." />
    <meta property="og:url" content="<%= root_url %>" />
    <meta property="og:image" content="<%= image_url("open_graph.png") %>" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Beginner Bounties" />
    <meta name="twitter:description" content="Help Junior developers get hired by sharing small projects they can work on to build their resume with paid work." />
    <meta name="twitter:url" content="<%= root_url %>" />
    <meta name="twitter:image" content="<%= image_url("open_graph.png") %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <body class="flex flex-col h-screen justify-between">
    <main>
      <%= render "shared/navbar" %>

      <%= render 'shared/flash' %>

      <div class="max-w-7xl mx-auto p-6 lg:px-8 prose">
        <%= yield %>
      </div>

    </main>
    <footer>
      <%= render "shared/footer" %>
    </footer>
  </body>
</html>
